<div class="panel panel-default">
        <div class="row">
            <div class="panel-body">
                <div class="col-xs-12 col-sm-3">
                    <img ng-src="{{::model.photo}}" class="img-responsive center-block">
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="row">
                        <div class="col-xs-6">
                            <h1> {{::model.name}}</h1>
                        </div>
                        <div class="col-xs-6">
                            <div class="btn btn-info pull-right" style="width: 100px;height: 100px;padding: 10px 16px;font-size: 20px;line-height:3.7;border-radius: 50px; margin:10px 15px 0 0;">
                                {{::model.price | currency: "$":0 }}
                            </div>
                        </div>
                    </div>
                    <p class="lead">
                        {{::model.brand}}
                    </p>
                    <p class="lead"> {{::model.description}}</p>
                    <div class="col-xs-12 col-sm-9">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <audio controls ng-src="{{::trustSrc({stuff:model.sound_url})}}">
                                    Your browser does not support the audio element.
                                </audio>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <button ng-click="addFavorite({stuff:model})" class="btn btn-danger pull-right" style="width: 40px;height: 40px;padding:0;line-height:1;border-radius: 50px; font-size: 20px; margin:0 0 0 0;outline:none;">
                                    <i class="fa fa-heart"></i>
                                </button>
                            </div>
                            <div class="col-xs-6 col-sm-2">
                                <button ng-click="comprar({stuff:model})" class="btn btn-success pull-right" style="width: 40px;height: 40px;padding:0;line-height:1;border-radius: 50px; font-size: 20px;outline:none;">
                                    <i class="fa fa-shopping-cart"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
